body {
    background-color: #e6f2ff;
}
.btn {
    margin-top: 10px;
    margin-left: 30px;
}
#report{
    margin-top: 40px;
    margin-left: 40px;
    border: 1px solid black;
    overflow-x: hidden;
}
#polygon-graph{
    margin-top: 40px;
    margin-left: 40px;
}